node_modules/

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/blob-report/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
